[run]
branch = True
concurrency = multiprocessing
data_file = .coverage
source = src
relative_files = True
omit =
    src/scilpy/tests/**/*.py
    src/scilpy/**/tests/*.py
    src/scilpy/**/tests/**/*.py
    src/scilpy/cli/tests/*.py
    src/scilpy/cli/tests/**/*.py
    src/scilpy/cli/scil_data_download.py
    src/scilpy/io/deprecator.py

[report]
skip_empty = True
skip_covered = True
exclude_also =
    if __name__ == "__main__":
    (?<!def )main()

[html]
title = Scilpy Coverage Report
directory = .test_reports/coverage.html

[xml]
output = .test_reports/coverage.xml
