[run]
branch = True
concurrency = multiprocessing
data_file = .test_reports/.coverage
relative_files = True
source =
    scilpy/
    scripts/
omit =
    scripts/tests/*.py
    scilpy/tests/**/*.py
    scilpy/**/tests/*.py
    scilpy/**/tests/**/*.py
    scripts/tests/*.py
    scripts/tests/**/*.py

[report]
skip_empty = True

[html]
title = Scilpy Coverage Report
