include README.md
include LICENSE
include requirements.txt
include .python-version

recursive-include src/scilpy/data *
recursive-include scilpy *.c
recursive-include scilpy *.cpp
recursive-include scilpy *.pyx
