include README.md
include LICENSE
include requirements.txt
include .python-version

recursive-include src/scilpy/data *
recursive-include src/scilpy *.c
recursive-include src/scilpy *.cpp
recursive-include src/scilpy *.pyx
