bids-validator==1.9.*
bctpy==0.5.*
bz2file==0.98.*
coloredlogs==15.0.*
cvxpy==1.2.*
cycler==0.11.*
Cython==0.29.*
dipy==1.5.*
dmri-amico==1.5.*
dmri-commit==1.6.*
docopt==0.6.*
formulaic==0.3.*
fury==0.8.*
future==0.18.*
h5py==3.7.*
joblib==1.2.*
kiwisolver==1.4.*
matplotlib==3.6.*
nibabel==4.0.*
nilearn==0.9.*
numpy==1.23.*
openpyxl==3.0.*
Pillow==9.3.*
pybids==0.15.*
pyparsing==3.0.*
PySocks==1.7.*
pytest==7.2.*
pytest-console-scripts==1.3.*
pytest-mock==3.10.*
python-dateutil==2.8.*
pytz==2022.6.*
requests==2.28.*
setuptools==65.5.*
scikit-learn==1.2.*
scipy==1.9.*
six==1.16.*
spams==2.6.5.2
statsmodels==0.13.*
trimeshpy==0.0.2
vtk==9.2.*