bz2file==0.98
cycler==0.10.0
Cython==0.29.12
dipy==1.1.1
fury==0.2.0
future==0.17.1
h5py==2.9.0
kiwisolver==1.0.1
matplotlib==2.2.2
nibabel==3.0.1
numpy==1.16.2
Pillow==6.2.0
pybids==0.9.1
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
scikit-learn==0.22.1
scipy==1.0.1
setuptools==39.0.1
six==1.11.0
vtk==8.1.2
coloredlogs==10.0
nilearn==0.6.1
pytest==5.3.5
pytest_console_scripts==0.2.0
