@import url("theme.css");
/*
"fix screen width.
*/


.wy-nav-content {
    max-width: 80%;
}

.strike {
  text-decoration: line-through;
}

.instruction {
    color: #c9c9c9;
    background-color: #2e8ece;
    font-style: italic;
    display: block;   /* ensures it's on its own line */
    margin: 0.5em 0;
    padding: 0.5em 0.5em;
    font-weight: bold;
}