@import url("theme.css");
/*
"fix screen width.
*/


.wy-nav-content {
    max-width: 80%;
}

.strike {
  text-decoration: line-through;
}

/* Make citations use full page width instead of narrow blocks */
div.citation {
    display: flex !important;
}

/* Default font size is 0.9rem. A bit small. Making it bigger. */
div.citation a, p {
    font-size: 1rem !important;
}